<?xml version="1.0" encoding="UTF-8"?>
 
<b:beans xmlns="http://www.springframework.org/schema/security"
    	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    	 xmlns:b="http://www.springframework.org/schema/beans"
   		 xsi:schemaLocation="http://www.springframework.org/schema/beans
                        	 http://www.springframework.org/schema/beans/spring-beans.xsd
                        	 http://www.springframework.org/schema/security
                        	 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <http auto-config="true">
        <form-login login-page="/index.xhtml"
            		authentication-failure-url="/index.xhtml?error=true" />
        <logout logout-success-url="/index.xhtml" />
 
        <intercept-url pattern="/user.xhtml" access="ROLE_USER" />
    </http>
 
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                			   users-by-username-query="SELECT login, password, enable FROM Users WHERE login=?"
                			   authorities-by-username-query="SELECT Users_login AS login, Auth_authority AS authority FROM Users_Auth WHERE Users_login=?" />
        </authentication-provider>
    </authentication-manager>
 
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="url"
            		value="jdbc:mysql://localhost:3306/library?useTimezone=true&amp;serverTimezone=UTC" />
        <b:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <b:property name="username" value="root" />
        <b:property name="password" value="aian" />
    </b:bean>
</b:beans>